/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

/* Page Background */
body {
     background: linear-gradient(135deg, #1d2671, #c33764);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form Card */
.form-card {
    width: 100%;
    max-width: 500px;
    background: #ffffff;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.8s ease;
}

/* Heading */
.form-card h3 {
    text-align: center;
    margin-bottom: 25px;
    color: #0f2027;
    font-size: 24px;
}

/* Inputs & Textarea */
.form-card input,
.form-card textarea {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: 0.3s;
}

/* Textarea */
.form-card textarea {
    resize: none;
    height: 120px;
}

/* Date Input */
.form-card input[type="date"] {
    cursor: pointer;
}

/* Focus Effect */
.form-card input:focus,
.form-card textarea:focus {
    outline: none;
    border-color: #2c5364;
    box-shadow: 0 0 6px rgba(44, 83, 100, 0.35);
}

/* Button */
.form-card button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
   background: linear-gradient(135deg, #1d2671, #c33764);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

/* Button Hover */
.form-card button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.25);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mobile Responsive */
@media (max-width: 600px) {
    .form-card {
        margin: 20px;
        padding: 25px;
    }
}
.back-btn {
    display: block;
    width: fit-content;
    margin: 30px auto 0;
    padding: 10px 22px;
    border-radius: 6px;
    background: #4f46e5;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.back-btn:hover {
    background: #4338ca;
}
